div.d-flex.justify-content-between.align-items-center.p-3.bg-dark.text-light
  div.logo Logo
  div.nav-wrap.d-flex
    div.p-2
      a(href="/board/list") List
    div.p-2
      a(href="/board/write") Write
