extends layout

block content
  h1= title
  div(style="max-width: 900px; margin: auto;")
    form(method="post" action="/user/save")
      div(style="padding: 12px;")
        input(type="text" name="name" placeholder="Name")
      div(style="padding: 12px;")
        input(type="number" name="age" placeholder="Age")
      div(style="padding: 12px; text-align: center;")
        button Save
