extends ./layout/board.pug
block title
  div.jumbotron
    h2= title
      small - Board List
block content
  .list-wrap
    table.table.table-bordered
      thead
        tr
          th No.
          th Title
          th Author
          th Date
          th Hits
      tbody
