doctype html
html(lang="en")
  head
    title= title 
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/board.css") 
  body
    div.container-my-2 
      div.jumbotron
        h2= title
          small - Board write
