extends ./layout/board.pug 
block title
  div.jumbotron
    h2= title
      small - Board write
block content
  .write-wrap
    table.table.table-bordered
      tbody
        tr
          td Author
          td
            input.form-control(type="text", name="writer")
