extends ./layout/board.pug 
block title
  div.jumbotron.my-2
    h2= title
      small - Board write
block content
  form(action="/board", method="post", name="writeForm")
  .write-wrap
    table.table.table-bordered
      tbody
        tr
          td Author
          td
            input.form-control(type="text", name="writer", placeholder="Author")
