extends ./layout/board.pug 
block title
  div.jumbotron.my-2
    h2= title
      small - Board write
block content
  form(action="/board/create", method="post", name="writeForm" enctype="multipart/form-data")
    .write-wrap
      table.table.table-bordered
        tbody
          tr
            td Author
            td
              input.form-control(type="text", name="writer", placeholder="Author")
          tr
            td Title
            td
              input.form-control(type="text", name="title", placeholder="Title")
          tr
            td Content
            td
              textarea.form-control(name="content", placeholder="Content")
          tr
            td Attachment
            td
              input.form-control-file(type="file" name="upFile")
    div.bts.text-center.my-3
      button.btn.btn-primary Submit
      button.btn.btn-danger(type="reset") Clear
